/be/node_modules
/be/.pnp
/be/.pnp.js
/be/coverage
/be/build
/be/.DS_Store
/be/.env.local
/be/.env.development.local
/be/.env.test.local
/be/.env.production.local
/be/npm-debug.log*
/be/yarn-debug.log*
/be/yarn-error.log*


/fed/node_modules
/fed/.pnp
/fed/.pnp.js
/fed/coverage
/fed/build
/fed/.DS_Store
/fed/.env.local
/fed/.env.development.local
/fed/.env.test.local
/fed/.env.production.local
/fed/npm-debug.log*
/fed/yarn-debug.log*
/fed/yarn-error.log*


